---
import { siteConfig } from "../config";
import SectionLayout from "./SectionLayout.astro";
import SectionHeader from "./SectionHeader.astro";
---

<SectionLayout id="about">
    <SectionHeader title="About Me" />

    <div class="lg:col-span-8">
        <p class="text-lg sm:text-xl md:text-2xl leading-relaxed text-gray-600 dark:text-slate-400">
            {siteConfig.aboutMe}
        </p>
    </div>
</SectionLayout>
