---
interface Props {
    id: string;
    class?: string;
    showSeparator?: boolean;
}

const { id, class: className, showSeparator = true } = Astro.props;
---

{
    showSeparator && (
        <div class="px-8 sm:px-12 md:px-16 lg:px-24">
            <div class="border-t-2 border-dashed border-gray-200 dark:border-slate-700/50" />
        </div>
    )
}

<section id={id} class:list={["p-8 sm:p-12 md:p-16 lg:p-24", className]}>
    <div>
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
            <slot />
        </div>
    </div>
</section>
